@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>A Tale of Three Calculators</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Description</h2>
        <p>
            The focus of this activity is to develop an application that explores the basic routing and form usage of the ASP.NET MVC framework. The student will develop three calculators, one that uses the URL to provide the operands for a calculator, another that uses a form, and a third that explores the use of Action Verbs in the controller.
        </p>
    </div>
</div>