@{
    ViewBag.Title = "URL Calculator";
}

<h2>URL Calculator</h2>
<div id="CalculatorInputForm">

    <div class="form-group">
        <label for="operand1">Enter the first operand:</label>
        <input type="text" name="operand1" class="form-control" />
    </div>

    <div class="form-group">
        <label for="operand2">Enter the second operand:</label>
        <input type="text" name="operand2" class="form-control" />
    </div>

    <div class="form-group">
        <label for="operation">Choose the operation:</label>
        <select name="operation" id="operation" class="form-control">
            <option value="add">Add</option>
            <option value="subtract">Subtract</option>
            <option value="multiply">Multiply</option>
            <option value="divide">Divide</option>
        </select>
    </div>

    <div class="form-group">
        <input type="button" id="submit" value="Calculate" class="btn btn-default" />
    </div>

</div>

<input type="text" name="prog_site" id="prog_site" value="http://www.edit-me.com" />
<a href="#" onclick="this.href=document.getElementById('prog_site').value + '/' + document.getElementById('operation').value" target="_blank">Open URL</a>

<script type="text/javascript">
    var rootUrl = 'UrlCalculator',
    operation = $('#operation').val(),
    operand1 = $('#operand1').val();
    operand2 = $('#operand2').val();

    $('#CalculatorInputForm').on("submit", function () {
        event.preventDefault();
        location.href = rootUrl + '/' + operation + '/' + operand1 + '/' + operand2;
    });

    $(function () {
        $('#submit').click(function () {
            var url = "http://www.google.com/search?q=";
            url += $('#q').val();
            window.location = url;
        });
    });
</script>
