
@{
    ViewBag.Title = "Form Calculator";
}

<h2>Form Calculator</h2>
<form action="FormCalculator/Calculate" method="Get">
    <p>Enter the first operand:<input type="text" name="operand1" value=" " /></p>
    <p>Enter the second operand:<input type="text" name="operand2" value=" " /></p>
</form>

